@font-face {
  font-family: "iconfont"; /* Project id 3661964 */
  src: url('//at.alicdn.com/t/c/font_3661964_hl43ilvqzy7.woff2?t=1675146662304') format('woff2'),
       url('//at.alicdn.com/t/c/font_3661964_hl43ilvqzy7.woff?t=1675146662304') format('woff'),
       url('//at.alicdn.com/t/c/font_3661964_hl43ilvqzy7.ttf?t=1675146662304') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hamburger:before {
  content: "\e60c";
}

.icon-file-upload:before {
  content: "\e8a3";
}

.icon-product-trial:before {
  content: "\e7c4";
}

.icon-client-service:before {
  content: "\ebbe";
}

.icon-basic-info:before {
  content: "\e60b";
}

.icon-logout:before {
  content: "\ee15";
}

.icon-account-center:before {
  content: "\e6e4";
}

.icon-login:before {
  content: "\e60a";
}

.icon-register:before {
  content: "\e635";
}

.icon-location-2:before {
  content: "\e644";
}

.icon-clock:before {
  content: "\e761";
}

.icon-drawer:before {
  content: "\e711";
}

.icon-a-icon10:before {
  content: "\e602";
}

.icon-a-icon05:before {
  content: "\e603";
}

.icon-a-icon09:before {
  content: "\e604";
}

.icon-a-icon04:before {
  content: "\e605";
}

.icon-a-icon06:before {
  content: "\e606";
}

.icon-a-icon07:before {
  content: "\e607";
}

.icon-a-icon11:before {
  content: "\e608";
}

.icon-verification-code:before {
  content: "\e6ef";
}

.icon-account:before {
  content: "\e601";
}

.icon-simple-phone:before {
  content: "\e96c";
}

.icon-sms-phone:before {
  content: "\e61c";
}

.icon-password-invisible:before {
  content: "\e6e3";
}

.icon-password-visible:before {
  content: "\e611";
}

.icon-solid-home:before {
  content: "\e642";
}

.icon-password:before {
  content: "\e62e";
}

.icon-planet:before {
  content: "\e721";
}

.icon-three-hexagon:before {
  content: "\e63f";
}

.icon-location:before {
  content: "\e6f3";
}

.icon-landline:before {
  content: "\e640";
}

.icon-phone-2:before {
  content: "\e616";
}

.icon-cellphone:before {
  content: "\e63e";
}

.icon-mail-solid:before {
  content: "\e61a";
}

.icon-clock-circle:before {
  content: "\eb40";
}

.icon-wechat:before {
  content: "\e600";
}

.icon-article:before {
  content: "\e647";
}

.icon-home-fill:before {
  content: "\e867";
}

.icon-link-road:before {
  content: "\e67a";
}

.icon-square:before {
  content: "\ea5a";
}

.icon-mail:before {
  content: "\e623";
}

.icon-network:before {
  content: "\e641";
}

.icon-phone:before {
  content: "\e94f";
}
